<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div>
                    <h6 class="d-flex justify-content-end">
                        <a href="/profile">{{ user.displayName }}</a> |
                        <a href="/logout">Logout</a>
                    </h6>

                   Hello World<BR>
Venue Id = {{fsVenueId}}<BR>
Venue Name = {{fsVenueName}}<BR>
User Name = {{fbUser.displayName}}
<ul>
{{#each comments }}
  <li>{{this.fbUserDisplayName}} posted the comment {{this.body}} on {{this.createdAt}}
{{ else}}
  <p>no comments yet</p>
{{/each}}
</ul>

                    </body>

                    </html>